<%- include ("header") -%>
    <div class = "box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class = "box">
        <!-- ADD LIST ITEMS FOR EVERY ELEMENT IN INPUT -->
        <% newListItems.forEach(function(item){%>
            <!-- DELETE ITEMS WHEN CHECKED -->
            <form action = "/delete" method = "post">
            <!-- FOR EACH ITEM -->
            <div class = "item">
                <!-- CHECKBOX: SUBMIT WHEN CHECKED-->
                <input type="checkbox" name = "checkbox" value = "<%= item._id %>" onChange = "this.form.submit()">
                <!-- VALUE OF ITEM -->
                <p><%= item.name %></p>
            </div> 
            <!-- PASS LIST NAME TO DELETE FROM CORRECT LIST -->
            <input type = "hidden" name = "list" value = "<%= listTitle %>">
            </form>

        <% }) %>
        <!-- FORM TO INPUT TASKS -->
        <form class = "item" action = "/" method = "post">
            <input type="text" name="newItem" placeholder="Enter new item: " autocomplete="off">
            <button type="submit" name="submit" value="<%= listTitle %>">+</button>
        </form>

    </div>
<%- include("footer") -%>